body {
    /* padding: 10px; */
    font-size: 20px;
    /* background-color: red; */
}
.parent {
    /* padding: 10px; */
    /* width: 100%; */
    /* background-color: red; */
}
.container {
    /* padding: 10px; */
    width: 90%;
    margin: auto;
    display: flex;
    /* background-color: ; */
    height: 60px;
}
header {
    /* background-color: #0e913aab; */
    height: inherit;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    /* align-items: center; */
}

nav {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-name {
    display: flex;
    /* f */
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 60px;
    /* background-color: yellow; */
}
.logo-name img {
    width: 50%;
    height: 100%;
}
.links-menue-logo {
    width: 10%;
    height: 30px;
    /* background-color: grey; */
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
   
}
.links-menue-logo:hover #span2{

    width: 100%;
    
}
.links-menue-logo:hover{

    cursor: pointer;
    
}
#span2 {
    width: 60%;
    display: flex;
    transition: 0.3s;
}
.links-menue-logo span {
    width: 100%;
    display: flex;
    border: 1px solid black;
}
.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    /* background-color: blueviolet; */
}
.inspiration {
    margin-top: 10px;
    background-color: black;
    height: 200px;
}