<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/homeStyle.css" />
  </head>
  <body>
    <div class="parent">
      <header>
        <div class="container">
          <nav>
            <div class="logo-name">
              <a href="/home">
                <img src="/imgs/logoRemoved.png" />
              </a>
            </div>
            <div class="links-menue-logo">
              <span class="links-menue"></span>
              <span id="span2" class="links-menue"></span>
              <span class="links-menue"></span>
            </div>
            <!-- <div class="links">
              <a href="#">link1</a>
              <a href="#">link2</a>
              <a href="#">link3</a>
              <a href="#">link4</a>
            </div> -->
          </nav>
        </div>
      </header>
      <section class="inspiration">
        <h1>Be A Part of the future</h1>
      </section>
    </div>
  </body>
</html>
